body {
    background-color: #ccc;
}
.container {
    text-align: center;
}

.container-carrusel {
    height: 200px;
    object-fit: cover;
}

.card {
    max-width: 300px; 
    height: 450px; 
    margin: 0 auto;
    transition: box-shadow 0.3s, transform 0.3s;
    overflow: hidden; 
}

.card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.imgBox {
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgBox img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.imgBox, .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    flex-direction: column;
    padding: 20px;
}

.card .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000;
    text-decoration: none;
    background: #FF2400;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .buy {
    top: 0;
    opacity: 1;
}